h1{
  text-align: center;
  margin-top: center;
  color:#blue


}

h2{

  text-align: center;
  margin-top: center;
  color:#blue



}

p{

  text-align: center;
	margin-top: center;
	color:#blue


}

li{
  p{

    text-align: center;
  	margin-top: center;
  	color:#blue


  }


}
body{

  text-align: center;
  margin-top: center;
  color:#blue

}


img{
  image-orientation: center
  margin-top: 10px;
  margin-bottom: 10px;




}
i{
  bottom: 800px
  image-orientation: center
  border: solid;
  border-radius: 10%;
  background-color: lightblue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}
