h1{
  text-align: center;
  margin-top: center;
  color:#CEECF5


}

h2{

  text-align: center;
  margin-top: center;
  color:#blue



}

p{

  text-align: center;
	margin-top: center;
	color:#blue


}


body{

  text-align: center;
  margin-top: center;
  color:#blue

}

img{
  image-orientation: center


}
i{
  image-orientation: center

}
